.signin__container
  %header.signin__header
    = link_to image_tag('/assets/logo.svg', class: "signin__header--logo"), root_path
  %main.signin__main
    %section.signin__main__container
      %h2.signin__main--text 新規会員登録
      .signin__main--inner
        .signin__main--content
          %a.btn-default.btn-mail{href: "https://www.mercari.com/jp/signup/registration/"}
            %i.fa.fa-envelope-o{"aria-hidden":"true"}
            メールアドレスで登録
          %button#facebook-login.btn-sns
            %i.fa.fa-facebook-official
            Facebookで登録
          %button#google-login.btn-sns
            %i.fa.fa-google-plus
            Googleで登録
    .poricy__img--content
      %img{src: "/assets/poricy.png"}


