header {
  min-width: 76.8rem;
  background-color: #FFF;
  .header-inner {
    box-sizing: border-box;
    height: 9rem;
    width: 102rem;
    margin: 0 auto;
    padding: 0.8rem 0 0;
    .upper-box {
      box-sizing: border-box;
      height: 3.6rem;
      overflow: hidden;
      &__logo {
        width: 13.4rem;
        height: 3.6rem;
        display: inline-block;
        img {
          width:auto;
          height:auto;
          max-width:100%;
          max-height:100%;
        }
      }
      &__search {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        float: right;
        border: solid 0.1rem #C0C0C0;
        border-radius: 0.5rem;
        padding: 0.9rem 3.2rem 0.9rem 0.8rem;
        margin-left: auto;
        width: 87rem;
        height: 3.6rem;
        font-size: 1.5rem;
        position: relative;
      }
      .fa-search {
        display: inline-block;
        font-size: 2rem;
        float: right;
        right: 22rem;
        top: 1.5rem;
        transform: translateY(-150%) translateX(-60%);
        -webkit-text-stroke: 0.2rem white;
      }
    }
    .under-box {
      box-sizing: border-box;
      overflow: hidden;
      height: 3.8rem;
      margin: 0.8rem 0 0;
      line-height: 3.2rem;
      &__left {
        box-sizing: border-box;
        display: inline-block;
        height: 3.8rem;
        width: 28rem;
        li {
          display: inline-block;
          font-size: 1.4rem;
          .from-category {
            display: inline-block;
            text-decoration: none;
            color: #000;
          }
          .from-bland {
            padding-left: 1.6rem;
            display: inline-block;
            text-decoration: none;
            color: #000;
          }
        }
      }
      &__right {
        box-sizing: border-box;
        display: inline-block;
        height: 3.8rem;
        width: auto;
        float: right;
        .l-right {
          overflow: hidden;
          .header-login-btn {
            box-sizing: border-box;
            display: inline-block;
            height: 3.2rem;
            width: 7.8rem;
            font-size: 1.4rem;
            text-align: center;
            border-radius: 0.4rem;
            color: #FFF;
            background-color: #FF0000;
            text-decoration: none;
          }
          .header-signup-btn {
            box-sizing: border-box;
            display: inline-block;
            height: 3.2rem;
            width: 10.6rem;
            font-size: 1.4rem;
            text-align: center;
            border-radius: 0.4rem;
            margin-left: 1rem;
            color: #0099FF;
            border: solid 0.1rem #0099FF;
            text-decoration: none;
            float: right;
          }
          ul.header-user-nav {
            font-size: 1.4rem;
            li {
              position: relative;
              display: inline-block;
              padding: 0 0 0 16px;
              vertical-align: middle;
              a.icons {
                box-sizing: border-box;
                display: block;
                color: #333;
                height: 38px;
                line-height: 32px;
                text-decoration: none;
                img.user-icon {
                  width: 3.2rem;
                  height: 3.2rem;
                  border-radius: 50%;
                }
                .fa-check {
                  font-size: 2rem;
                }
                span.icon-text {
                  vertical-align: top;
                  margin-left: 0.6rem;
                }
              }
            }
            .header-notifications {
              a.notifications {
                display: block;
                height: 38px;
                span {
                  margin-left: 0.8rem;
                  vertical-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

.bread-crumbs {
  box-sizing: border-box;
  position: relative;
  border: 0.1rem solid #eee;
  background-color: #fff;
  height: 5rem;
  ul {
    box-sizing: border-box;
    width: 102rem;
    margin: 0 auto;
    padding: 1.7rem 0 1.6rem;
    white-space: normal;
    height: 4.8rem;
    background-color: #FFF;
    li {
      box-sizing: border-box;
      display: inline-block;
      font-size: 1.4rem;
      line-height: 1.2;
      padding: 0 0.5rem;
      a {
        text-decoration: none;
        color: #000;
      }
      .fa-chevron-right {
        margin: 0 0.8rem;
        font-size: 0.9rem;
        color: #888;
      }
    }
    li:last-child {
      font-weight: bold;
    }
  }
}

