.items-box-content

  %section.items-box
    %a{href: "#"}
      %img{src: "/assets/cloth3.jpg"}
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    %a{href: "#"}
      %img{src: "/assets/cloth3.jpg"}
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    %a{href: "#"}
      %img{src: "/assets/cloth3.jpg"}
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

  %section.items-box
    %a{href: "#"}
      %img{src: "/assets/cloth3.jpg"}
      .items-box-body
        .items-box-name サンプルサンプルサンプルサンプルサンプルサンプルsannsss
        .items-box-num
          .items-box-price ¥ 3,900
          .items-box-likes
            = fa_icon 'heart-o'
            %span 2
          .item-box-tax (税込)

.view-all
  %a{href: "#"} すべての商品を見る
