#modal__window {
  display: none;
  z-index: 3;
  position: fixed;
  width: 64rem;
  height: 32rem;
  top: 2.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

  #modal__content {
    margin-top: 7rem;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #555;
  }

  #modal__text {
    height: 16rem;
    font-size: 1.4rem;
    font-weight: lighter;
    color: #666;
  }

  #modal__btn-box {
    display: inline-flex;
    vertical-align: bottom;
    height: 6.3rem;
    border-top: 0.1rem solid #ccc;

    #modal__cancel-btn {
      width: 32rem;
      height: 100%;
      border-right: 0.1rem solid #ccc;
      display: inline-flex;
      justify-content: center;
      cursor: pointer;

      #modal__cancel-btn-str {
        align-self: center;
        font-size: 1.4rem;
        color: #666;
      }
    }

    #modal__delete-btn {
      width: 32rem;
      display: inline-flex;
      justify-content: center;
      cursor: pointer;

      #modal__delete-btn-str {
        align-self: center;
        font-size: 1.4rem;
        color: #0098e8;
      }
    }
  }

#overlay {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}
