.review__wrapper
  .review__contents
    .review__icons
      .review__icons--good
        %i.fa.fa-smile-o
      .review__icons--normal
        %i.fa.fa-meh-o
      .review__icons--bad
        %i.fa.fa-frown-o


